@model FlyingBetter.Models.Flight.FlightSearchResultModel
@{
    ViewBag.Title = "Flights Search Result";
    string prittyFlighType;
    if (Model.searchDetails.FlightType == FlyingBetter.Models.Flight.FlightTypes.OneWay.ToString())
    {
        prittyFlighType = "One way";
    }
    else if (Model.searchDetails.FlightType == FlyingBetter.Models.Flight.FlightTypes.RoundTripStandard.ToString())
    {
        prittyFlighType = "Round trip standard";
    }
    else
    {
        prittyFlighType = "Round trip non-standard";
    }
    bool roundTrip = ((Model.searchDetails.FlightType == FlyingBetter.Models.Flight.FlightTypes.RoundTripStandard.ToString())
                      || Model.searchDetails.FlightType == FlyingBetter.Models.Flight.FlightTypes.RoundTripNonStandard.ToString());
}

<h2>Flight Search Result</h2>

<hr />

<h3>@prittyFlighType flight details</h3>

<hr />

<div class="container">
    <div class="row">
        <div class="col-xs-2">
            From:
        </div>
        <div class="col-xs-10">
            <b>@Model.searchDetails.From</b>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            To:
        </div>
        <div class="col-xs-10">
            <b>@Model.searchDetails.To</b>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            Date:
        </div>
        <div class="col-xs-10">
            <b>@Model.searchDetails.Date.ToString("d")</b>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            Adults:
        </div>
        <div class="col-xs-10">
            <b>@Model.searchDetails.Adults</b>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            Children:
        </div>
        <div class="col-xs-10">
            <b>@Model.searchDetails.Children</b>
        </div>
    </div>
</div>

@if (roundTrip)
{
    <h3>@prittyFlighType flight back details</h3>

    <hr />

    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                From:
            </div>
            <div class="col-xs-10">
                <b>@Model.searchDetails.FlightBackFrom</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                To:
            </div>
            <div class="col-xs-10">
                <b>@Model.searchDetails.FlightBackTo</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                Date:
            </div>
            <div class="col-xs-10">
                <b>@Model.searchDetails.FlightBackDate.ToString("d")</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                Adults:
            </div>
            <div class="col-xs-10">
                <b>@Model.searchDetails.FlightBackAdults</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                Children:
            </div>
            <div class="col-xs-10">
                <b>@Model.searchDetails.FlightBackChildren</b>
            </div>
        </div>
    </div>
}

<hr />

@if (Model.success)
{
<div>
    <p>from: @Model.fromCode</p>
    <p>to: @Model.toCode</p>
    <p>back from: @Model.FlightBackFromCode</p>
    <p>back to: @Model.FlightBackToCode</p>
</div>
} 
else
{
<div class="alert alert-warning">
    <h3 class="alert-heading">Something went wrong</h3>
    <p>@Model.errorDescription</p>
</div>
}

