@model FlyingBetter.Models.FlightSearch.FlightSearchModel
@{
    ViewBag.Title = "Flights Search Result";
}

<h2>Flight Search Result</h2>

<hr />

<h3>Flight details</h3>
<div class="row">
    <div class="col-xs-2">
        From:
    </div>
    <div class="col-xs-10">
        <b>@Model.From</b>
    </div>
    <div class="col-xs-2">
        To:
    </div>
    <div class="col-xs-10">
        <b>@Model.To</b>
    </div>
    <div class="col-xs-2">
        Date:
    </div>
    <div class="col-xs-10">
        <b>@Model.Date.ToString("d")</b>
    </div>
    <div class="col-xs-2">
        Adults:
    </div>
    <div class="col-xs-10">
        <b>@Model.Adults</b>
    </div>
    <div class="col-xs-2">
        Children:
    </div>
    <div class="col-xs-10">
        <b>@Model.Children</b>
    </div>
    <div class="col-xs-2">
        Flight type:
    </div>
    <div class="col-xs-10">
        <b>@Model.FlightType</b>
    </div>
</div>

<hr />