@model FlyingBetter.Models.Flight.FlightSearchModel
@{
    ViewBag.Title = "Flying Better";
    bool FlightBackReadOnly = (Model.FlightType == FlyingBetter.Models.Flight.FlightTypes.OneWay.ToString())
                                || (Model.FlightType == FlyingBetter.Models.Flight.FlightTypes.RoundTripStandard.ToString());
    bool FlightBackDateReadOnly = Model.FlightType == FlyingBetter.Models.Flight.FlightTypes.OneWay.ToString();
    bool FlightBackDirectReadOnly = Model.FlightType == FlyingBetter.Models.Flight.FlightTypes.OneWay.ToString();
}
    
@Styles.Render("~/Content/FormValidation.css")

<div class="jumbotron">
    <h1>Flying Better</h1>
    <p class="lead">Search flights smart and easy.</p>
    <p><a href="@Url.Action("Help", "Home")" class="btn btn-primary btn-lg">Learn how <span class="glyphicon glyphicon-info-sign"></span></a></p>
</div>

<form method="POST" class="form-horizontal">
    <h4>Flight details</h4>
    <hr />
    <div class="form-group row">
        <label class="col-sm-1 col-xs-12 control-label">From</label>
        @Html.TextBoxFor(m => m.From, new { @class = "col-sm-8 col-xs-12 form-control" })
        <label class="col-sm-3 col-xs-12 control-label">@Html.ValidationMessageFor(m => m.From)</label>
    </div>
    <div class="form-group row">
        <label class="col-sm-1 col-xs-12 control-label">To</label>
        @Html.TextBoxFor(m => m.To, new { @class = "col-sm-8 col-xs-12 form-control" })
        <label class="col-sm-3 col-xs-12 control-label">@Html.ValidationMessageFor(m => m.To)</label>
    </div>
    <div class="form-group row">
        <label class="col-sm-1 col-xs-12 control-label">Date</label>
        @Html.EditorFor(m => m.Date, new { htmlAttributes = new { min = DateTime.Now.ToString("yyyy-MM-dd"), @class = "col-sm-8 col-xs-12 form-control" } })
        <label class="col-sm-3 col-xs-12 control-label">@Html.ValidationMessageFor(m => m.Date)</label>
    </div>
    <div class="form-group row">
        <label class="col-sm-1 col-xs-12 control-label">Skip Date</label>
        @Html.CheckBoxFor(m => m.SkipDate, new { @class = "col-sm-8 col-xs-12 form-control", @checked = Model.SkipDate })
        <label class="col-sm-3 col-xs-12 control-label">@Html.ValidationMessageFor(m => m.SkipDate)</label>
    </div>
    <div class="form-group row">
        <label class="col-sm-1 col-xs-12 control-label">Adults</label>
        @Html.EditorFor(m => m.Adults, new { htmlAttributes = new { min = 1, max = 20, @class = "col-sm-8 col-xs-12 form-control" } })
        <label class="col-sm-3 col-xs-12 control-label">@Html.ValidationMessageFor(m => m.Adults)</label>
    </div>
    <div class="form-group row">
        <label class="col-sm-1 col-xs-12 control-label">Children</label>
        @Html.EditorFor(m => m.Children, new { htmlAttributes = new { min = 0, max = 20, @class = "col-sm-8 col-xs-12 form-control" } })
        <label class="col-sm-3 col-xs-12 control-label">@Html.ValidationMessageFor(m => m.Children)</label>
    </div>
    <div class="form-group row">
        <label class="col-sm-1 col-xs-12 control-label">Direct</label>
        @Html.CheckBoxFor(m => m.Direct, new { @class = "col-sm-8 col-xs-12 form-control", @checked = Model.Direct })
        <label class="col-sm-3 col-xs-12 control-label">@Html.ValidationMessageFor(m => m.Direct)</label>
    </div>
    <hr />
    <div class="form-group row">
        <div class="form-check col-sm-3 col-sm-offset-1">
            <div class="form-check">
                @Html.RadioButtonFor(m => m.FlightType, FlyingBetter.Models.Flight.FlightTypes.OneWay, new { @class = "form-check-input", @checked = "checked" })
                <label class="form-check-label">
                    One way
                </label>
            </div>
            <div class="form-check">
                @Html.RadioButtonFor(m => m.FlightType, FlyingBetter.Models.Flight.FlightTypes.RoundTripStandard, new { @class = "form-check-input" })
                <label class="form-check-label">
                    Round trip standard
                </label>
            </div>
            <div class="form-check">
                @Html.RadioButtonFor(m => m.FlightType, FlyingBetter.Models.Flight.FlightTypes.RoundTripNonStandard, new { @class = "form-check-input" })
                <label class="form-check-label">
                    Round trip non-standard
                </label>
            </div>
        </div>
        <label class="col-sm-3 col-xs-12 control-label">@Html.ValidationMessageFor(m => m.FlightType)</label>
    </div>
    <hr />
    <h4>Flight back details</h4>
    <hr />
    <div class="form-group row">
        <label class="col-sm-1 col-xs-12 control-label">From</label>
        @Html.TextBoxFor(m => m.FlightBackFrom, FlightBackReadOnly ? (object)new { @readonly = FlightBackReadOnly, @class = "col-sm-8 col-xs-12 form-control" } : (object)new { @class = "col-sm-8 col-xs-12 form-control" })
        <label class="col-sm-3 col-xs-12 control-label">@Html.ValidationMessageFor(m => m.FlightBackFrom)</label>
    </div>
    <div class="form-group row">
        <label class="col-sm-1 col-xs-12 control-label">To</label>
        @Html.TextBoxFor(m => m.FlightBackTo, FlightBackReadOnly ? (object)new { @readonly = FlightBackReadOnly, @class = "col-sm-8 col-xs-12 form-control" } : (object)new { @class = "col-sm-8 col-xs-12 form-control" })
        <label class="col-sm-3 col-xs-12 control-label">@Html.ValidationMessageFor(m => m.FlightBackTo)</label>
    </div>
    <div class="form-group row">
        <label class="col-sm-1 col-xs-12 control-label">Date</label>
        @Html.EditorFor(m => m.FlightBackDate, FlightBackDateReadOnly ? new { htmlAttributes = (object)new { @readonly = FlightBackDateReadOnly, min = DateTime.Now.ToString("yyyy-MM-dd"), @class = "col-sm-8 col-xs-12 form-control" } } : (object)new { htmlAttributes = new { min = DateTime.Now.ToString("yyyy-MM-dd"), @class = "col-sm-8 col-xs-12 form-control" } })
        <label class="col-sm-3 col-xs-12 control-label">@Html.ValidationMessageFor(m => m.FlightBackDate)</label>
    </div>
    <div class="form-group row">
        <label class="col-sm-1 col-xs-12 control-label">Skip Date</label>
        @Html.CheckBoxFor(m => m.SkipFlightBackDate, new { @class = "col-sm-8 col-xs-12 form-control", @checked = Model.SkipFlightBackDate })
        <label class="col-sm-3 col-xs-12 control-label">@Html.ValidationMessageFor(m => m.SkipFlightBackDate)</label>
    </div>
    <div class="form-group row">
        <label class="col-sm-1 col-xs-12 control-label">Adults</label>
        @Html.EditorFor(m => m.FlightBackAdults, FlightBackReadOnly ? new { htmlAttributes = (object)new { @readonly = FlightBackReadOnly, min = 0, max = 20, @class = "col-sm-8 col-xs-12 form-control" } } : (object)new { htmlAttributes = new { min = 0, max = 20, @class = "col-sm-8 col-xs-12 form-control" } })
        <label class="col-sm-3 col-xs-12 control-label">@Html.ValidationMessageFor(m => m.FlightBackAdults)</label>
    </div>
    <div class="form-group row">
        <label class="col-sm-1 col-xs-12 control-label">Children</label>
        @Html.EditorFor(m => m.FlightBackChildren, FlightBackReadOnly ? (object)new { htmlAttributes = new { @readonly = FlightBackReadOnly, min = 0, max = 20, @class = "col-sm-8 col-xs-12 form-control" } } : (object)new { htmlAttributes = new { min = 0, max = 20, @class = "col-sm-8 col-xs-12 form-control" } })
        <label class="col-sm-3 col-xs-12 control-label">@Html.ValidationMessageFor(m => m.FlightBackChildren)</label>
    </div>
    <div class="form-group row">
        <label class="col-sm-1 col-xs-12 control-label">Direct</label>
        @Html.CheckBoxFor(m => m.FlightBackDirect, FlightBackDirectReadOnly ? (object)new { @disabled = FlightBackDirectReadOnly, @class = "col-sm-8 col-xs-12 form-control", @checked = Model.FlightBackDirect } : (object)new { @class = "col-sm-8 col-xs-12 form-control", @checked = Model.FlightBackDirect })
        <label class="col-sm-3 col-xs-12 control-label">@Html.ValidationMessageFor(m => m.FlightBackDirect)</label>
    </div>
    <hr />
    <div class="form-group row">
        <button type="submit" class="btn btn-primary btn-lg">Search</button>
    </div>
</form>
